[2015-01-10 09:15] pertrai1 opened #1 "Error when running java"
Hi, I am not well versed in java so bear with me. When I run this code from my repo directory, I get an error.

[code]

[code]

Again, I am running this inside of my repository directory which I have a feeling I am doing wrong. Please let me know what it is that I need to do so that this will work. Thank you.

[2015-01-10 10:00] adamtornhill commented on #1
There are two usage issues:
 1) You need to replace `<vcs>` with the name of one of the supported systems: `git`, `hg`, `svn`.
 2) If you build it from source you should run the standalone jar file.

Here's an example:
I've created a logfile for Code Maat itself and saved it to the file `maat_evo.log`. If I run the tool from inside the repository, my usage looks like this:

             adam$ java

[2015-01-10 11:43] pertrai1 commented on #1
This did the trick. Thank you for the quick response and love the tool

[2015-01-10 11:43] #1 closed

[2015-01-14 22:17] montague opened #2 "java.lang.OutOfMemoryError: Java heap space"
I'm following along and tried to run the analysis tool on some logs generated from a ~3 year old project. there are about 81K lines in the file i'm trying to analyze -- here's the command and output:
[code]

[2015-01-15 20:35] adamtornhill commented on #2
Code Maat is quite memory hungry. The problem is in the parsers for Git and Mercurial (Subversion uses a different strategy and performs better). Those parsers are based on Instaparse. While Instaparse is a great tool, Instaparse does use a lot of memory (see the documentation [here](https://github.com/Engelberg/instaparse/blob/master/docs/Performance.md)).

I'm gonna experiment a bit with the alg

[2015-01-16 23:44] adamtornhill commented on #2
I re-wrote the parsers to work on lazy sequences built from tokenized input. This way, we parse the entries in the version-control files one by one. The prototype shows a large improvement in memory consumption.
I need to update all test programs, re-implement the encoding support and modify the Git grammar to handle merges.

[2015-01-17 14:57] montague commented on #2
that sounds great, thanks! i've never written clojure, but i'm happy to test builds if that would help.

[2015-01-17 15:56] adamtornhill commented on #2
Thanks - I appreciate that! Could you please e-mail me and I'll send you a build with some details once I get everything together? You can reach me at: adam at adamtornhill dot com

[2015-01-20 21:12] adamtornhill commented on #2
This issue has been resolved in version 0.8.3. I re-wrote the parsers to work on pre-processed chunks of data from the log file.
Thanks to montague for helping out with the tests!

[2015-01-20 21:12] #2 closed

[2015-01-20 21:16] montague commented on #2
:+1: for open source!

[2015-01-22 15:22] LogicalChaos opened #3 "Cannot work with newlines with latest parsing update"
I forked to implement a Perforce parser.  I have it completed, but when I went to merge with your latest which splits the parsing into chunks, I'm unable to get it functioning again.  I've found if I remove all newlines except those between change sets, I can get it parsing again.  But, that involves quite a bit of data massaging to clean up the perforce log.  Do you have any suggestions?  If you

[2015-01-22 21:16] adamtornhill commented on #3
Sounds cool with a Perforce parser - would definitely be a good addition.
First some background on my latest change: Instaparse is quite memory hungry. When I parsed the complete grammar in one pass, Code Maat run out of memory on larger logfiles. That's why I chose to split the log into smaller parts and feed those to Instaparse one by one (you'd run into the same problem with your current Perfor

[2015-01-23 19:54] LogicalChaos commented on #3
What you said makes perfect sense, but is beyond me :-)  I changed the log generation to make it consistent with the the others re blank lines `... | xargs -I commitid -n1 sh -c 'p4 describe -s commitid | grep -v "^\s*$" && echo "'`.  If you're up for it (I'd need major help), I'd like to add churn capabilities.  The output Perforce spits out adds the following to each change set described.

    D

[2015-01-23 20:09] LogicalChaos commented on #3
Hmmm...  With the new parser, I'm getting [Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded](http://stackoverflow.com/questions/1393486/error-java-lang-outofmemoryerror-gc-overhead-limit-exceeded), which is obviously different from the previous OOM problems.  This is with  change logs that failed previously.  I'm looking to see if I can pinpoint what in the data is

[2015-01-24 16:31] adamtornhill commented on #3
I've seen the GC overhead limit exception as well on the earlier version of Code Maat before the memory optimization. Did you manage to get the chunking working now? That should solve this issue as well.
 I'll have a look at your pull request during next week - thanks for the contribution!

[2015-01-24 18:20] LogicalChaos commented on #3
Yes, I got the chunking working.  The problem occurs with a change list of ~1400 with 35k lines when any individual change list goes over ~50 files.  I can privately send you a problem file if you want.

[2015-01-25 16:32] adamtornhill commented on #3
Yes, please do that and I'll have a look. You can contact me at adam at adamtornhill dot com

[2015-01-25 23:41] LogicalChaos commented on #3
I've sent two files, ~1Mb compressed total.

[2015-01-30 15:55] qoheleth-tech opened #5 "Unable to find resource 'bouncycastle:bcprov-jdk14:jar:138"
Failing to run code-maat on linux, using `lein uberjar` or `lein run`. Can you update this dependency, or verify that this dependency should not be an issue? [Thanks]

[INFO] Unable to find resource 'bouncycastle:bcprov-jdk14:jar:138' in repository clojars (http://clojars.org/repo/)

[2015-01-31 15:37] adamtornhill commented on #5
Code Maat doesn't depend directly on this dependency - it's a transient dependency from some other package. At the moment I don't know which one - `bouncycastle` is a library for cryptography, which Code Maat isn't that interested in. Does your code work? Are you able to `lein test` your local repository? Please let me know, otherwise I'll have a deeper look at this issue.

However, the version yo

[2015-02-02 17:25] qoheleth-tech commented on #5
I have not looked further into this yet, but tried to run `lein test` and got the following error trace. Sorry this is lengthy, but it may help you in diagnosing the issue. Looking this over, it appears that `incanter` is involved. Best to you.

/code-maat$ lein test
Downloading: bouncycastle/bcprov-jdk14/138/bcprov-jdk14-138.jar from repository clojars at http://clojars.org/repo/
Unable to locate

[2015-02-08 19:05] adamtornhill commented on #5
I just pushed a new version where Code Maat only uses the incanter-core library. This should help with the build issue you reported - it looks like the missing jar was due to Incanter's PDF library, which I no longer include. As a bonus, the total program size is significantly smaller.

Please let me know if the latest version fixes the problem.

[2015-02-13 18:54] qoheleth-tech commented on #5
Running `lein test` still breaks.
Exception in thread "main" java.lang.RuntimeException: No such var: leiningen.util.injected/add-hook, compiling:(NO_SOURCE_PATH:1:1710)
	at clojure.lang.Compiler.analyze(Compiler.java:6464)
	at clojure.lang.Compiler.analyze(Compiler.java:6406)
	at clojure.lang.Compiler$InvokeExpr.parse(Compiler.java:3665)
	at clojure.lang.Compiler.analyzeSeq(Compiler.java:6646)
	a

[2015-02-15 14:28] adamtornhill commented on #5
It looks like you're using an old version of Leiningen. The problem should disappear if you upgrade to Leiningen 2 (see [this question on StackOverflow](http://stackoverflow.com/questions/24852096/lein-test-failing-with-no-such-var-leiningen-util-injected-add-hook).

I'm using Leiningen 2.3.4 to build Code Maat.

Hope this helps and please let me know how it works for you.

[2015-02-17 11:33] igilham opened #6 "Cannot compute churn metrics for SVN XML logs"
Using the SVN log format mentioned in the README file for code-maat:

    svn log -v --xml > logfile.log -r {YYYYmmDD}:HEAD

I have encountered the following error:

	$ maat -l ~/workspace/project/logfile.log -c svn -a abs-churn
	java.lang.IllegalArgumentException: Internal error - please report it. Details = churn analysis: the given VCS data doesn't contain modification metrics. Check the code-m

[2015-02-17 20:54] adamtornhill commented on #6
Yes, you're correct - code churn isn't supported for SVN (only for Git).

We could implement support for the text format to get some basic churn metrics for SVN as well. But IIRC I looked into that a few years ago and found out that SVN only supports a single metric; From the log, there's no way to know if a line was added, modified or deleted, right?

Thus, the way I've approached code churn in S

[2015-02-18 17:31] igilham commented on #6
`svn log -v --diff` prints lines prefixed with a `+` or `-` where they have changed. It should be possible to get the churn from that, although it may require a new parser to support it. Perhaps the `--diff` flag wasn't supported last time you checked?

I wouldn't like to comment on the challenge of reworking other parts of the tool to support the textual log format. Clojure is still very alien to

[2015-02-18 18:00] adamtornhill commented on #6
Cool - I wasn't aware of the `diff´ flag. Sounds interesting.

It's quite straightforward to support a new format. The parsers are orthogonal to the analysis algorithms; The analyses don't know anything about the different version-control systems. A parser in Code Maat translates the input to a common format that all analyses operate on. So basically we just need to specify a grammar for the SVN t

[2015-02-19 10:45] igilham commented on #6
How about data from Apache Subversion itself? It's a pretty complex project with code in C, Java and some Python tests.

    svn log -v --diff https://svn.apache.org/repos/asf/subversion/trunk/ -r {20150217}:HEAD > svnlog.log

svnlog.log contents:

    ------------------------------------------------------------------------
    r1660541 | rhuijben | 2015-02-17 23:55:11 +0000 (Tue, 17 Feb 2015) | 5

[2015-02-19 10:48] igilham commented on #6
I had to limit the size of the log to a day's worth. Any more and GitHub can't deal with it.

[2015-02-19 17:59] qoheleth-tech commented on #5
I still haven't gotten back to this, but looking into my version of clojure and leiningen - and also that SO link - am certain this is the issue. I'll go ahead and close this. Thanks!

[2015-02-19 17:59] #5 closed

[2015-02-20 16:20] adamtornhill commented on #5
Great - I'm happy that I could help. Hope you enjoy the book!

[2015-03-07 16:33] knorrium opened #7 "Improving IllegalArgumentException error message when passing wrong parameters"
I invoked code-maat with a wrong parameter (-a couplin instead of -a coupling) and it threw the following exception:

[code]
It would be good to know that "couplin" is invalid and what the valid options are :)

[2015-03-07 23:04] adamtornhill commented on #7
I've improved the error message. An invalid analysis request now results in the following message:
[code]

Thanks for reporting this!

[2015-03-07 23:04] #7 closed

[2015-03-08 03:08] knorrium commented on #7
@adamtornhill wow, that was fast! :D Thanks for the quick fix. I started reading your book today, so expect some more reports soon :)

[2015-03-20 11:53] eborgbjerg opened #10 "P4 log parser error"
I created a Perforce log file using the command given in the documentation.
It looks like the code-maat parser can't handle some lines I have, starting with 'Jobs fixed'.
The error from the parser says that it expected 'Affected' at that position.
Below is the log file content.

Change 401723 by ejbo@ejbo-home-fimbul on 2015/03/19 12:40:33
	FIM-29 ##scription here>
Jobs fixed ...
FIM-29 on 2015/03

[2015-03-20 12:08] eborgbjerg commented on #10
PS - after manual removal of the lines in question, analysis runs as expected.

[2015-03-20 15:39] adamtornhill commented on #10
I've never worked with Perforce myself (that code is a contribution), but I'll have a look at it. From what I can see in the parser grammar, each message (e.g. "FIM-29 ...", "Jobs fixed...") should start with a tab. Is that the case in the example you pasted above too? And what lines did you have to remove to make it work?

[2015-03-20 16:40] eborgbjerg commented on #10
Here is another snippet, in order to have a more clear example.
First line begins with 'Change' (then change-id, author etc.).
Next line starts with a tab and a comment follows. Here '<tab>Ups, ...'
3rd line is 'Jobs fixed...'
4th line has a socalled 'Job' identifier (here 'FIM-127') first, then some info about date + user + status. 5th line is a comment, and like the comment from line 2, it begin

[2015-03-20 16:41] eborgbjerg commented on #10
Ok, so the tab's are removed in the post - I have added <TAB> instead :)

Change 399449 by lpi001@lpi001-home-fimbul on 2015/02/17 13:26:45
<TAB>Ups, army bliver aldrig reduceret, har altid fuld g-dags antal
Jobs fixed ...
FIM-127 on 2015/03/02 by sysgen *closed*
<TAB>Ændringe i  belægningen af g-dage
Affected files ...
... //depot/fiks/fimbul/cerkl.cxx#100 edit

[2015-03-20 16:43] eborgbjerg commented on #10
Ok, so
Another attempt to persuade the post to indicate the tabs :):)

Change 399449 by lpi001@lpi001-home-fimbul on 2015/02/17 13:26:45
TAB!	Ups, army bliver aldrig reduceret, har altid fuld g-dags antal
Jobs fixed ...
FIM-127 on 2015/03/02 by sysgen *closed*
TAB!	Ændringe i  belægningen af g-dage
Affected files ...
... //depot/fiks/fimbul/cerkl.cxx#100 edit

[2015-03-23 16:54] adamtornhill commented on #10
Thanks! I've pushed a fix for the bug. It works fine with the sample data you provided.
Please let me know if this solves your problem so that we can close this issue.

[2015-03-23 17:31] eborgbjerg commented on #10
And thank you! I've tested with another (larger) sample file. Analysis runs, and the output looks correct at first inspection. I think you can close this issue. Thanks for working this out!

[2015-03-23 21:43] #10 closed

[2015-03-23 22:03] LogicalChaos commented on #10
Thanks Adam for taking care of that!

[2015-03-23 22:12] adamtornhill commented on #10
Ha ha - cool :) It was actually quite easy to fix. It was the rare kind of bug that you could solve by removing code. I like those.

[2015-05-07 17:24] lslewis901 commented on #6
Just curious if you had reviewed the statsvn tool?  It does heat maps and tracks changes by developer/date using the SVN diff and a SVN log file.

[2015-05-07 18:18] adamtornhill commented on #6
Yes, I tested statsvn just last year. The heat map is nice and the churn graph gives an overview of the general trend. If you work with Subversion, statsvn is a good complement to Code Maat.
Btw, I won't support svn churn metrics in Code Maat. Instead I plan to open source one of my old Python scripts that does the same thing but in a more memory efficient way: fetch a range of revisions, run diff

[2015-06-09 20:50] nascif opened #11 "No definition for fragmentation analysis"
I found about it by accident (in an error message). I tried to infer what it does from the code but it would be nicer to have an example and proper documentation.

[2015-06-10 20:51] adamtornhill commented on #11
Yes, I'd like to include a complete list of all analyses in the help text to start with. I think there are a few more I haven't documented. I'd also like to document them all here on github.

[2015-06-17 21:12] nascif opened #12 "Error on messages analysis regular expression"
I am trying to use the new "messages" analysis but it doesn't seem to like the regular expression I am passing to it.
According to other tools it is a valid regex. Maybe Clojure uses a different syntax?
I tried to find an example under the test directory but couldn't find any.

java -jar C:\Dropbox\bin\code-maat-0.9.0-SNAPSHOT-standalone.jar -l C:\temp\d4vanrx.txt -c git -a messages -e "(S[0-9]{,7

[2015-06-17 21:14] nascif commented on #12
Here is a sample of the kind of commit messages I am trying to match against:

Merge remote-tracking branch 'origin/master'
(VAN-481) add parameter support to preview result
S1137461: moved methods from ReportBll ot VisualElementBll to remove dependency on VisualElementBll and help break circular dependencies
VAN-499: add parameter support to preview result

I want to capture VAN-481, VAN-499 and

[2015-06-19 07:03] adamtornhill commented on #12
There seems to be an unbalanced parenthesis in the the sample you pasted (I get that error from Pythex as well).
But I don't think that's the issue. It looks like the repetition operator needs a lower bound in Java. So instead of `{,7}`, try to specify `{1,7}`.

[2015-06-29 09:43] slipset opened #13 "exclusion patterns"
I just started playing with code-maat, and I find I do something like this:
` lein.bat run -l logfile.log -c git | grep -v pom.xml | grep -v test | head`
It would be really nice to be able to specify these exclusions on the command-line of code-maat instead piping to commands

[2015-06-29 13:26] adamtornhill commented on #13
Yes, that's a good idea. So far I've done it by shell scripts that clean the output. But it would be possible to do much earlier in the analysis pipe, just after the input log has been parsed.

Do you have any idea for the exclusion pattern format? There's a risk I'll go for regex otherwise.

[2015-06-29 13:27] #12 closed

[2015-06-29 14:01] slipset commented on #13
I think I'd be happy with a comma-separated list of ant-style glob patterns like:

`--exclusions='**/test**,**/pom.xml,**/resources/**/*.properties'`

but I'd be happy with some regexes as well.

[2015-06-29 20:51] AndreaCrotti opened #14 "Error running tests"
Hi guys, I'm trying to run the tests for this project and I'm getting a very cryptic error.

I'm using these Java 1.8 and these other libraries, any idea about what is it?

; CIDER 0.10.0snapshot (package: 20150629.637) (Java 1.8.0_45, Clojure 1.6.0, nREPL 0.2.7)

[code]

[2015-06-29 21:51] AndreaCrotti opened #16 "Components library"
Hi,
I wonder if you would be interested in implementing the components library:
https://github.com/stuartsierra/component/

It's a bit tricky to adapt it to an existing codebase but it can be done, and as the project becomes bigger could become a great advantage..
I

[2015-06-29 22:31] AndreaCrotti opened #17 "git tags"
This is just a suggestion, but might be nice to tag the git revision whenever, which makes github understand your project history a bit better and is also easier to understand what is the last release.
It can still be done even now for previous versions potentially if you're interested in doing that, thanks

[2015-06-30 05:40] adamtornhill commented on #14
I noticed this error just the other day as I upgraded Leiningen. I get the same error with `Leiningen 2.5.1 on Java 1.8.0_45 Java HotSpot(TM) 64-Bit Server VM` but everything works when I run it with an old version of Leiningen (2.3.4).
Unfortunately no idea yet why this happens.

[2015-06-30 05:57] adamtornhill commented on #14
Interestingly enough it works fine with the latest Leiningen too as long as I specify all test modules explicitly like `lein test code-maat.analysis.authors-test code-maat.analysis.churn-test`. Strange.

[2015-06-30 07:22] AndreaCrotti commented on #14
Maybe it's related to this issue @adamtornhill https://github.com/technomancy/leiningen/issues/1779 ?

[2015-06-30 07:27] AndreaCrotti commented on #14
It might be related with multiline strings, also cider actually is not able to load the project and it complains about git2.clj being in a bad state..

[code]

[2015-06-30 07:50] adamtornhill commented on #14
I just tried and it loads fine in Cider here. In fact, everything (repl, tests) seems to work fine _except_ running `test` without any arguments.

[2015-06-30 08:52] AndreaCrotti opened #18 "Simpler invocation"
I think it would be great to avoid the need to manually generate the logs and then feed it into code-maat after..

After all the command that needs to be run is known and to find out what kind of repository is we just need to check for .git/.hg/.svn in the directory right?

I can probably give it a try and add something like "--auto $path" or "--repository-path $path" option that does the detectio

[2015-06-30 11:14] adamtornhill commented on #18
Yes, it's definitely a feature that simplifies (I usually do it via shell scripts).
There are a few constraints:
* The command line must be backwards compatible. I need it to work with the examples in my book. In addition, it's nice to be able to receive a log file and analyze it without having access to the repo.
* Must work on Windows as well. Running a shell command is simple from Clojure, but

[2015-06-30 11:18] adamtornhill commented on #16
Hi,

I'm not sure if components fit - code-maat doesn't maintain any state. Do you have some specific idea in mind?

One related thing I'd like to happen in the future is to introduce protocols for the parsers and analysers. Today they're just glued together by conventions.

[2015-06-30 11:31] AndreaCrotti commented on #16
Yes well I don't think it's just about state, it can also decouple better the different components, but I don't have a specific idea in mind..
And if in the future this project will maintain some state (I don't know realtime graphs for example) it will become very handy.

Anyway I think protocols would be a better and easier thing to do at the moment..

[2015-06-30 11:58] AndreaCrotti commented on #18
I think for the backward compatible is not an issue as long as we define some new clear arguments..

For Windows I don't really have one with me but I can try to make sure that it's compatible.
Would be fine to use this library?
https://github.com/Raynes/conch

[2015-07-01 06:21] adamtornhill commented on #18
Thanks, sounds reasonable. It will be a useful feature.
Conch looks fine (I've used clojure.java.shell for similar tasks).

[2015-07-01 06:24] adamtornhill commented on #17
Agree - it would be good to tag the history. I'll do that from now on.

If any one's interested in tagging historic releases, that would be great as well.

[2015-07-01 09:01] AndreaCrotti commented on #14
@adamtornhill I looped over all the namespaces and I think I found the problem
[code]

Still not sure why though by looking at the code but the issue is very likely to be there..

[2015-07-01 09:36] AndreaCrotti commented on #17
Hi @adamtornhill I would like to do that but I don't think it's possible for me, since only people with write access to the repository can set tags..

http://stackoverflow.com/questions/12278660/adding-tags-to-a-pull-request

[2015-07-02 05:25] #14 closed

[2015-07-14 15:20] AndreaCrotti commented on #17
Ok I'm going to close this since all is needed is just to add the tags from now on, and potentially add the previous ones, but only the repository owner can do this anyway..
thanks

[2015-07-14 15:20] #17 closed

[2015-07-14 15:22] AndreaCrotti commented on #16
I'll close this since it's not a real issue, might create something later on for the protocols

[2015-07-14 15:22] #16 closed

[2015-07-27 19:29] adamtornhill commented on #17
Hi @AndreaCrotti I finally got around to wrap-up a new release and this time I added a tag. Thanks for the suggestion on that!

[2015-09-01 16:00] hussein opened #22 "NumberFormatException when trying to run Maat"
Hi,

Thanks a lot for creating this awesome project. I'm trying it for our projects:

``` git log --all -M -C --numstat --date=short --pretty=format:'--%h--%ad--%an' --no-renames > log.log  ```

```java -jar target/code-maat-0.9.2-SNAPSHOT-standalone.jar -l log.log -c git -s summary```

The following errors occurred while parsing your command:
Error while parsing option "-s summary": java.lang.Num

[2015-09-01 18:48] adamtornhill commented on #22
@hussein Thanks for your kind words! I hope you'll find the tool useful.

You're close: just replace `-s summary` with `-a summary`and it will work; All analyses are invoked with the `-a` switch.

[2015-09-17 13:00] rjayasinghe opened #23 "OOM when processing really large git logs"
Hi!

I tried to process a pretty large git log from a private git repo. I increased to max heap to 4GB but it still did not help. Much more heap would not go as my laptop's memory is limited.

Best Regards,
Robin

[2015-09-17 13:16] adamtornhill commented on #23
Hi @rjayasinghe

I've analyzed fairly rich Git repositories (e.g. Rails with 10 years history, Mono with +10 years) and Code Maat's memory usage stays around 1.3 GB on those. I think your issue has to do with some pattern in your input data combined with some inefficiency in the analysis algorithms.

What analysis did you run?

Would it be possible for you to send me the git log? That would allow

[2015-09-17 13:25] rjayasinghe commented on #23
Hi!

Sorry, I cannot share the git log. It's built from a +10GB repository with ~15 years of history.

I is how I called code-maat:

[code]

I know it's not very helpful if I cannot share the git log - but I at least wanted to share that your analysis algorithms run into problems when analyzing really large data sets..

Best Regards,
Robin

[2015-09-17 13:45] adamtornhill commented on #23
Alright, no problem. I will see if I can find some even larger open-source project where I can reproduce the problem.

Did any of the analyses work? For example, try `-a identity`. That would help me to isolate the potential problem.

[2015-09-17 14:42] rjayasinghe commented on #23
-a identity resulted in OOM as well:

[code]

[2015-09-18 15:08] adamtornhill commented on #23
Thanks for the info, @rjayasinghe !
I've tested the last released version of Code Maat, 0.9.1, on a large repository and it seems to be able to handle it. If you have the possibility, please try version 0.9.1 (available [here](https://github.com/adamtornhill/code-maat/releases) and let me know if that solves your problem; We did some parallelization in the parsing stage of 0.9.2 and it might have

[2015-09-21 14:11] rjayasinghe commented on #23
OK. I downloaded and built 0.9.1 from github. This time it ran longer. However, after ~1,5 hours the process died with

[code]

Best Regards,
Robin

[2015-10-21 18:07] robertiansweetman opened #25 "Is it a valid logfile?"
Hi Adam

This is right at the edge of my technical envelope! =) Anyway, have a log file and am also pretty sure it's UTF-8 encoded. At least that's what it says when I open it in Notepad++ and Atom.

What other issues could be causing this error text?

Invalid argument:  git2: Failed to parse the given file - is it a valid logfile?

Actually took the test simple_git2.txt file and tried to run it t

[2015-10-22 11:00] adamtornhill commented on #25
Hi @robertiansweetman

Could you please include a line that shows how you run code maat? What arguments do you use?

The warning is annoying, but not relevant. I'll try to get rid of it in a future version.

[2015-10-22 11:24] robertiansweetman commented on #25
Hi @adamtornhill

java -jar target/code-maat-0.9.2-SNAPSHOT-standalone.jar -l gitlog3.log -c git2 -a summary -o results.log

Thanks :)

[2015-10-22 13:51] adamtornhill commented on #25
Your command line arguments are fine, so I cannot tell what's wrong. Is it possible for you to send me a small part of your `gitlog3.log` that fails when you parse it? That would let us ensure that the format is correct.

[2015-10-22 14:06] robertiansweetman commented on #25
Thanks - have pm'd you =)

[2015-10-23 08:38] robertiansweetman commented on #25
@adamtornhill  - I've concluded (even with your excellent help) that my Java environment is deeply broken since I have zero expertise in this area. Making the mod you suggested to generate an error log didn't even work properly. I'll have to leave it at this point

[2015-10-26 09:07] #25 closed

[2015-10-28 14:45] #22 closed

[2015-11-17 19:17] chenrui333 opened #27 "Remove layer_mapper.clj?"
I noticed that the two files are essentially the same, grouper.clj and layer_mapper.clj. So we should delete layer_mapper.clj (since the ns is grouper)

[code]

Thanks,
Rui

[2015-11-18 07:44] adamtornhill commented on #27
Thanks a lot @chenrui333 for detecting this! Yes, the layer_mapper was essentially dead code left over from a refactoring. I've removed the module now.

[2015-11-18 07:44] #27 closed

[2016-02-05 06:29] seriema opened #28 "git2 log command"
From the readme:

The second instruction uses `--pretty=format:'--%h--%ad--%an'`, which results in this error:

[code]

It happens with all `-a` flags to code-maat. I changed it to use the `--pretty=format:'[%h] %aN %ad %s'` from the first instruction and it works, but then the readme text about a "second supported Git format" is a bit confusing.

I also didn't quite understand the other flags in

[2016-02-05 07:51] adamtornhill commented on #28
When using the second format, you need to specify a different parser as well. From the readme (a bit below the text you quoted):

So you just need to switch from '-c git' to '-c git2' and the analyses will work.

Yes, you're correct about the contradiction between the different flags. It's the result of some experiments with different formats and nothing deliberate. I'll see if I can clean it up.

[2016-02-05 10:45] seriema commented on #28
I see. The info was a bit down in "Generating a summary" so I probably skipped it since I was more interested in the other options. Maybe it could be moved up to "Running Code Maat"? Or maybe update the "Generate a git log ..." to give more context for a new user? When I read the first instructions I had no relation to what you meant by:

It sounded like git 2.0 had a different format and that was

[2016-02-09 15:37] adamtornhill commented on #28
@seriema I've added a clarification in the paragraph where I introduce the `git2` input data format.

[2016-02-12 09:38] adamtornhill commented on #28
I've cleaned-up the `git2` format by removing the overridden, and potentially conflicting, flags from the documentation. I also corrected the format to respect a mailmap (when present).

[2016-02-12 09:38] #28 closed

[2016-02-13 07:28] seriema commented on #28
Sorry @adamtornhill, I didn't have time to check earlier. The new paragraph is good information. I created a PR for merging the info a bit and adding some info above "git1" to make it a bit clearer and have context.

[2016-02-13 07:30] seriema commented on #28
Looking at the new git2 command, the difference besides the `--pretty=format` seems to be the `--all` and `--no-renames` flags. I'm guessing here, but `--all` changes the format a bit, but ` --no-renames` would actually change the contents of the log since it won't follow redirects so old filenames will be in the log and our data gets skewed?

[2016-02-14 15:33] adamtornhill commented on #28
Yes, that's correct: old file names will show-up in the logs with `git2`. But IIRC, the same limitation applies to the legacy git log format (`-c git`).

In practice I haven't found it that limiting because I always apply scripts to the output that post-processes the data and filters it depending on the current content of the repository. In addition, most hotspots tend to stay where they are, alth

[2016-02-17 18:32] seriema commented on #28
@adamtornhill This sounds like it should be pointed out in the Readme perhaps? As a user I only see two options for log format, and one being touted as "more tolerant and faster". I wouldn't expect to have to treat the resulting data differently given that description.

[2016-03-24 11:26] RasmusWL opened #32 "Website down"
`http://www.adamtornhill.com/code/codemaat.htm` seems to be down currently

[2016-03-24 11:32] adamtornhill commented on #32
I haven't noticed anything strange and the page works just fine now. What HTTP response do you get?

[2016-03-24 14:36] RasmusWL commented on #32
working just fine now again, must just have been a small outage.

Saw your GOTO talk, great fun! Keep up the good work! :+1:

[2016-03-24 14:36] #32 closed

[2016-03-24 15:22] adamtornhill commented on #32
Thanks a lot @RasmusWL for your kind words! I'm glad you liked my talk.

[2016-04-11 18:09] janisz commented on #23
@rjayasinghe @adamtornhill  How about tuning GC.
```-XX:+UseConcMarkSweepGC -XX:+CMSIncrementalMode -XX:+CMSIncrementalPacing```
https://groups.google.com/forum/#!topic/clojure/yPaQN7JuKFY
http://nyeggen.com/post/2012-04-16-tuning-jvm-gc-for-a-big/

[2016-06-26 09:32] fschmied opened #35 "Invalid argument/parse error with dates in Git commit messages"
The following git log file leads to an error when invoking Code Maat (winmaat0.8.5) using `maat -l evo.Sample.log -c git -a summary`:

[code]
The error message is:
[code]

Code Maat seems to interpret the date within the message as something to be parsed rather than treating it as an opaque part of the commit message.

[2016-06-27 07:52] adamtornhill commented on #35
Thanks for spotting this! I don't know when I'll get around to fix the parser. Fortunately, there's a second log format that don't suffer this problem. Check the documentation of Code Maat's `-c git2` parse option. Please note that it requires a different input log format.

[2016-07-07 07:02] dlindelof opened #36 "Unable to build code-maat under OSX"
When I try to build `code-maat`with `lein uberjar` under OSX 10.11, the compilation fails:

[code]

Here is my Java version:

[code]

[2016-07-07 07:23] adamtornhill commented on #36
@dlindelof You need to have Java 8 to build and run code-maat. It's a bit unfortunate since there's nothing in the code-maat source that requires Java 8. However, one of the libraries I use (Incanter) isn't backwards compatible.

I'll update the documentation to clarify this.

[2016-07-07 07:24] dlindelof commented on #36
Ah I see. Thanks. I'll give it a try then.

[2016-07-07 08:31] dlindelof commented on #36
Installing Java 8 did it. I can build code-maat now. Thanks!

[2016-07-07 08:31] #36 closed

[2016-07-19 07:51] adamtornhill commented on #35
Solved by fixing a bug in the negative look-ahead used in the `git` parser.

[2016-07-19 07:51] #35 closed

[2016-07-20 18:29] mikesmithson opened #38 "Support for Accurev"
Any chance that code-maat could support Accurev depots?

[2016-07-21 06:37] adamtornhill commented on #38
I've never worked with AccuRev, but from what I've read about it, yes, code-maat could be extended to support AccuRev. You should be able to extract enough data through the `hist` command and extend code-maat with a new parser to transform that data to the code-maat internal format. However, I don't think you're able to get code churn metrics out of AccuRev that way, but I could be wrong.

[2016-07-30 08:21] #38 closed

[2016-09-30 08:49] mliebelt commented on #6
We are interested in code churn for Subversion as well. I found the following GitHub repo which looks promising: https://github.com/martinmoene/svn-churn

[2016-10-01 17:54] AndreaCrotti commented on #18
Still haven't managed to do this sorry.
However FYI I just did a simple script to loop over all the strategies, which I then use to load all the files in Jupyter + pandas..
https://github.com/AndreaCrotti/scripts/blob/master/code_maat_all.sh

[2016-10-01 17:56] AndreaCrotti commented on #18
only works for git2 though not really generic but a good start, might be good to have that feature inside code-maat directly maybe?
I guess in this way lot of time is spent loading the JVM every time..

[2016-10-03 06:09] adamtornhill commented on #18
Yes, the start of the JVM and Clojure itself is expensive, but also the parsing. I'm not putting much time into code maat now since I focus full-time on the Empear tools, where we do have this complete automation. There will be an open version available soon as [CodeScene](https://codescene.io/).

[2016-12-07 23:27] smontanari opened #39 "Accept regexp in group layer definitions"
When using code-maat on recent javascript (React) code bases unfortunately it's not possible to distinguish production code from test code, as the convention for React seems to be putting test files next to production files in the same folder. If I wanted to separate the production code from the test code in my code-maat analysis using the --group options I would liked to be able to write a file u

[2016-12-10 14:42] adamtornhill commented on #39
Yes, the current grouping is too limited. In [CodeScene](https://codescene.io/) we use glob patterns instead, which works really well for this task.

The change you suggest should be fairly trivial to implement since code-maat already uses regular expressions for the group matching. However, code-maat also assumes the given `--group` expression is a path (that's the part we need to change).

I'd l

[2016-12-13 08:18] tomer-ben-david opened #40 "code maat Parse error at line 1 on code maat sources"
Hi, I did git clone for code maat then:

[code]

and result:

[code]

can you help please?

[2016-12-13 09:09] adamtornhill commented on #40
@tomer-ben-david Sure, you just need to specify a different option: replace `-c git` with `-c git2`.

code-maat supports two different Git log formats and the command line argument has to match the format of the log as documented [here](https://github.com/adamtornhill/code-maat#generate-a-git-log-file-using-the-following-command).

[2016-12-13 09:12] tomer-ben-david commented on #40
excellent!! missed that, its working.

[2016-12-13 09:12] #40 closed

[2016-12-13 09:40] adamtornhill commented on #40
Perfect - happy to hear that! You may also want to have a look at [https://codescene.io/](https://codescene.io/), which automates all these steps and visualizations. It's a free service for open source.

[2016-12-14 12:43] tomer-ben-david opened #41 "do you still have: 'merge_comp_freqs.py'?"

[2016-12-14 12:51] tomer-ben-david commented on #40
thanks, do you still have: 'merge_comp_freqs.py'?

[2016-12-14 12:51] #41 closed

[2016-12-14 13:25] tomer-ben-david commented on #41
please ignore found it here: https://github.com/adamtornhill/maat-scripts

[2016-12-14 13:25] tomer-ben-david commented on #40
please ignore found it here: https://github.com/adamtornhill/maat-scripts

[2017-01-10 10:31] adamtornhill commented on #39
Solved for version 1.0.

[2017-01-10 10:31] #39 closed

[2017-01-17 09:43] vchircu opened #43 "Grouping causes incorrect CSV output"
Hi,

I am following the code samples from the book and the grouping commands output incorrect text.

For example:

1. maat -l maat_evo.log -c git -a coupling -g maat_src_test_boundaries.txt
entity,coupled,degree,average-revs
",80,65est
2.  maat -l maat_evo.log -c git -a coupling -g maat_src_detailed_test_boundaries.txt
entity,coupled,degree,average-revs
",42,50to end Tests
",42,49is Test
",Parsers

[2017-01-17 20:24] adamtornhill commented on #43
@vchircu I just tried the command with the latest version of code maat and it works just fine. My `maat_src_test_boundaries.txt` groups look like:

[code]
I get the following output:
[code]
I suspect that it's some encoding issue. Could you please check the encoding of the input files (code maat supports a custom encoding too)? What shell do you use to run the commands?

[2017-01-18 06:20] vchircu commented on #43
@adamtornhill, the encoding of the input file is UTF-8. I've used cmder, running cmd or powershell, and I've got the same result.

I noticed that if I write the output to a file, it looks differently (and I can extract the required data from it).

Example:

1. `maat -l maat_evo.log -c git -a coupling -g maat_src_test_boundaries.txt > test.csv`
entity,coupled,degree,average-revs
"Code
",Test,80,655

[2017-01-20 09:06] adamtornhill commented on #43
@vchircu Have you tried to run it in a Git BASH shell? If you want, please send me the result file and I'll have a look at it to see if I can spot the problem.

[2017-01-23 05:55] vchircu commented on #43
@adamtornhill I tried running the commands in Git BASH and I get the same result. Here is a result file:

[coupling.txt](https://github.com/adamtornhill/code-maat/files/722725/coupling.txt)

Thanks.

[2017-01-23 09:02] adamtornhill commented on #43
Thanks @vchircu , but I'd need you to pipe the result to a file and share that file with me:
[code]
I suspect an encoding issue so I'd like to look at the result file as created in your environment.

[2017-01-23 09:06] vchircu commented on #43
@adamtornhill, that's what I did. The coupling.txt file was obtained with the following command:
`maat -l maat_evo.log -c git -a coupling -g maat_src_detailed_test_boundaries.txt > coupling.txt`

[2017-01-23 09:49] adamtornhill commented on #43
Sorry, but that's not what I see as I download `coupling.txt`:

[code]
It looks like it has captured your whole session.

[2017-01-23 09:59] vchircu commented on #43
That's how all files are generated when I pipe the output of code maat to a file. I use another script to remove the first 4 lines from it.

[2017-01-23 10:36] adamtornhill commented on #43
Have you tried to let code maat write the results to file? You do that with the `--outfile` option, like `--outfile coupling.csv` instead of piping in the prompt.

[2017-01-23 11:33] vchircu commented on #43
I didn't tried this before. With this approach, it removed the extra lines, but there still are extra line breaks. It produced the following file:
[coupling.txt](https://github.com/adamtornhill/code-maat/files/723418/coupling.txt)

[2017-01-23 12:50] adamtornhill commented on #43
I'm trying to track this down since I cannot reproduce it myself. Is it just the `-g` option that gives you odd output? Does it work as expected when you run a normal, file-level analysis?

[2017-01-23 12:55] vchircu commented on #43
Yes, only the `-g` option gives odd output. I've ran all the other commands in the book and they all worked as expected.

[2017-01-25 19:59] adamtornhill commented on #43
I had a new look at the source code for the grouping feature and unfortunately I couldn't find any explanation for the problem. As a last resort, could you please share your `maat_src_detailed_test_boundaries.txt` file?

[2017-01-26 07:53] vchircu commented on #43
Sure. Here is the file:
[maat_src_detailed_test_boundaries.txt](https://github.com/adamtornhill/code-maat/files/731758/maat_src_detailed_test_boundaries.txt)

Thanks, @adamtornhill

[2017-01-26 13:25] adamtornhill commented on #43
Alright - I finally found the problem. Your file with the grouping uses `^M` characters (CRs) to terminate each line. I just converted those CR:s to new lines (`\n`) and everything worked fine.

This is something I'd like to fix in Code Maat so that it tolerates both formats.

[2017-01-26 22:10] rquinlivan opened #44 "Churn gives wrong output"
What does the "commits" column on the churn output represent? If it is meant to represent the total number of commits for the file, then it's reporting incorrectly.

[2017-01-27 07:40] adamtornhill commented on #44
The meaning of the commits column depends on what kind of churn analysis you run and the scope of that analysis. In the `abs-churn` analysis it represents the number of commits per day. In `entity-churn` the number of commits match what you get from the `revisions` analysis. Which analysis do you refer to?

[2017-01-27 17:49] harmeetsingh0013 opened #45 "How can we use code-maat with CI tools ?"
How can we use code-maat with CI tools like Jenkins and codeship because code-maat is a part of code analysis. Now, the time, we need to maintain code analysis at CI time. Is possible to use with codeship of Jenkins?

[2017-01-27 18:58] vchircu commented on #43
Ok, makes sense. Thanks for looking into this!

[2017-01-29 12:31] #43 closed

[2017-01-29 12:51] adamtornhill commented on #45
Yes, it's possible to run the analyses as part of a CI pipeline. You'd need to implement a wrapper around code-maat that mines the Git repository and invokes code-maat with the analyses of interest. There's no out of the box support for it in code-maat (however [codescene.io](https://codescene.io/) automates all these steps).

That said, I don't think it makes sense to run the analyses in code-maa

[2017-02-08 06:13] lanyuesl opened #46 "Can I get the record of code change by code-maat?"
Hi,
Here is an engineer from **Huawei Technologies Co.,Ltd..** We are working on a topic ***How to get the record of code change by VCS?***
We want to know which lines of code were changed by who and at when through analyzing the log of VCS by some tools. Code-maat seems to be what we are looking for.

[2017-02-08 08:01] adamtornhill commented on #46
Hi @lanyuesl

There are several options here. Do you think you could describe your requirements in a bit more detail? That way I could give you better advices.

For example, a plain `git blame` gives you these details per file. Code Maat accumulates the contributions over time. In addition, we have [codescene.io](https://codescene.io/) that automates these analyses.

[2017-02-08 08:01] #45 closed

[2017-02-08 08:02] adamtornhill commented on #44
No response - closing the issue. I'll re-open it if needed.

[2017-02-08 08:02] #44 closed

[2017-02-08 08:23] lanyuesl commented on #46
Can you join my gitter chat-room so that we can talk in ditail？
I can not talk too much in public.
Thanks.

[2017-02-08 08:45] lanyuesl commented on #46
Or connect me by my public email: *github.public.222@gmail.com*.
Thank you

[2017-02-09 09:14] adamtornhill commented on #46
Closing - moved to private correspondence.

[2017-02-09 09:14] #46 closed

[2017-07-06 12:49] mhenrichsen opened #47 "Can't locate code_maat/cmd_line__init.class - where to place the folder?"
Hello,

I'm completly new to maat, and I'm having problems with the setup process.

I've made the lein script to a shell file and put it in my bin folder as I usually do. I've also put the project.clj in the same folder.
When I run the code I get the following error:
`Madss-MacBook-Pro:bin madsgadehenrichsen$ ./lein run -l desktop/betaflight/log2.log -c
Compiling code-maat.cmd-line
Could not locat

[2017-07-07 06:36] adamtornhill commented on #47
@mhenrichsen Leiningen is a build tool for Clojure code. As such it needs to be run from the root folder of the `code-maat` repository. However, you may be more interested in building a standalone JAR file of the application. After that you no longer need the source code and can just launch the JAR from your script.
To build a JAR file you go into the `code-maat` repository and type `lein uberjar`

[2017-07-10 12:56] mhenrichsen commented on #47
Thanks again @adamtornhill 👍
I've made it work now.

You said in the documentation:

Why is this a good method of prediction? I see that it ranks by added, but is there a ratio between added, deleted, and commits that is good at predicting?

[2017-07-10 13:58] adamtornhill commented on #47
Perfect -- happy that you're up and running.

I cover the different metrics in detail in [Your Code As A Crime Scene](https://pragprog.com/book/atcrime/your-code-as-a-crime-scene). In general, the number of added/modified lines are the best predictors. The number of deleted lines has weaker predictive value.

I recommend code churn as an alternative in case you suspect biased data (perhaps through

[2017-07-10 13:58] #47 closed

[2017-07-30 13:28] maximn opened #48 "Link to "Empear Developer" is broken"
Is this product still available? Couldn't find it on the website.

[2017-07-30 20:17] adamtornhill commented on #48
@maximn No, Empear Developer has been replaced by [CodeScene](http://www.empear.com/#empear-products) and I've updated the documentation to reflect it. Thanks a lot for pointing this out!

[2017-07-30 20:17] #48 closed

[2017-08-23 01:04] cdancy commented on #45
Hey Adam,

So we'd like to do this very thing, that being: create a gradle plugin to tie this into actual CI pipelines for builds. As the current lead maintainer of the `gradle-docker-plugin`, and a handful of other gradle based projects, so this should be easy enough to wire up.

What are your thoughts on this? I could certainly get the project off the ground and going and think it would be immen

[2017-08-23 08:52] adamtornhill commented on #45
Hi @cdancy

That sounds really interesting and I'd love to see a gradle plugin. I have a post that describes what the CI versions does [here](http://www.empear.com/blog/continuous-integration/).

We've also implemented a Jenkins plugin, which is open sourced [here](https://github.com/jenkinsci/codescene-plugin) as a working example. The integration itself is straightforward with basically a single

[2017-10-26 16:57] kryton opened #49 "running git log on windows needs double quotes not single ones"
git log --all --numstat --date=short --pretty=format:"--%h--%ad--%aN" --no-renames

produces a file
`
-aa208775--2017-10-26--araut
2       0       src/main/java/com/xxx/yyy/repository/z1.java
23      0       src/main/java/com/xxx/yy/rest/z2.java
30      0       src/main/java/com/xxx/yy/service/z3.java
47      0       src/main/resources/swagger.yml
37      0       src/test/java/com/xxx/yy/rest/z4.j

[2017-10-28 14:30] adamtornhill commented on #49
Thanks for pointing this out! I always recommend running the Git commands in a Git BASH when on Windows, and I could extend the documentation with that info. What shell did you use?

[2017-11-01 12:42] jimbethancourt opened #50 "Please publish code-maat on clojars or maven central"
It would be wonderful if code-maat could be published on http://www.clojars.org or http://central.maven.org  This would allow folks to leverage code-maat as a library and call its APIs.

Thanks,
Jim

[2017-11-02 12:02] adamtornhill commented on #50
Sure, it is a good idea and I want to do it. I'll see if I get a bit of spare time over the next days.

[2017-11-02 12:44] jimbethancourt commented on #50
Thanks Adam!  I love what you've done :-)  Keep up the great work!

[2017-11-03 08:18] adamtornhill commented on #50
@jimbethancourt Thanks for your kind words -- I'm glad you like it.

The code-maat JAR is now available at https://clojars.org/code-maat

[2017-11-03 08:18] #50 closed

[2017-11-09 22:48] kryton commented on #49
[runMaat.cmd.txt](https://github.com/adamtornhill/code-maat/files/1459450/runMaat.cmd.txt)
I'm using the regular 'cmd' (see attached)

[2018-01-03 13:53] mauro2357 opened #52 "coupling analisis is not working"
When i run the command java -jar code-maat.jar -l “[maatfreqs.csv](https://github.com/adamtornhill/code-maat/files/1600515/maatfreqs.-.copia.txt)" -c git -a coupling, the program doesn´t show information.
![image](https://user-images.githubusercontent.com/7376390/34522993-81c2bc76-f063-11e7-8732-eac2a9cd4d7c.png)

[2018-01-03 15:38] adamtornhill commented on #52
This may be because there aren't any strong temporal dependencies. You could try to decrease the  `--min-coupling` option and increase the `--max-changeset-size` option.

[2018-01-04 23:03] mauro2357 opened #53 "csv_as_enclosure_json.py is not calculating weight"
I am running the python script csv_as_enclosure_json.py and the json is always generated with 0 in the weight attribute.

In debug mode the function normalized_weight_for is not executing "if module_name in normalized_weights:"

These are my files

[countlines-domina04012018.txt](https://github.com/adamtornhill/code-maat/files/1605003/countlines-domina04012018.txt)
[revisions-domina04012018.txt](h

[2018-01-05 11:37] #52 closed

[2018-01-05 11:45] adamtornhill commented on #53
This script is not part of code-maat. Is it the one that was referenced in my book? In that case, please check the recent revision of the script here: https://github.com/adamtornhill/maat-scripts

You should leave out the `weightcolumn` argument when invoking the script. We should also move the discussion to the `maat-scripts` repository if you have any follow up questions on the scripts.

[2018-01-10 17:44] mauro2357 opened #54 "Code maat is not parsing date in TFS log"
I am trying to execute code maat in TFS but i get the following error:

Invalid argument:  Unsupported TFS Date Format: Thursday, December 21, 2017 9:26:46 AM
This is Code Maat, a program used to collect statistics from a VCS.
Version: 1.0-SNAPSHOT

This is the command i am using

java -jar code-maat.jar -l "C:\TFS\Loc\Dev\Satrack.Loc.Core\Domain\tfslog.csv" -c tfs -a revisions

And this is the tf

[2018-01-10 17:47] laenas commented on #54
This was my patch, I'll take a look at it!

[2018-01-10 18:28] laenas commented on #54
I am having difficulty reproducing this issue:
lein -run -l tfslog.txt -c tfs -a revisions
puts output that I'd expect, a list of files with a single revision each.

Is there any other information you have?  Perhaps the previous entry in the TFS log is somehow throwing off the parsing grammar?

[2018-01-10 19:31] mauro2357 commented on #54
This is the complete log i get in the console.

[maat.txt](https://github.com/adamtornhill/code-maat/files/1620047/maat.txt)

In this link is the jar i am using. https://drive.google.com/file/d/1sJeYRZqaAmz27ZTXzaS9npm6tLdZsHDC/view?usp=sharing
it was generated on 2018-january-2 with the code commited until that day on github.

I am running the program in windows 7 professional with the locale US

[2018-01-10 20:15] laenas commented on #54
Even that JAR is working as expected for me, and I'm wondering what could be causing a problem, it shouldn't be down in the system settings at this point, because the TFS log you shared is in the correct format.  I'm wondering if somehow there's a grammar issue that's trickling down?

Have you confirmed you get the same behavior if you use the same tfslog.txt that you provided(and not your origina

[2018-01-10 21:39] mauro2357 commented on #54
I used the txt that i uploaded and the problem is the same. Does the program use environment variables or depend on a specific version of OS?

[2018-01-10 23:01] laenas commented on #54
It shouldn't be affected by anything like that, and even when I toggle my system's formats from en-us to no-no, this is still parsing as expected for me.  Are you able to debug this and provide any additional info out of the exception that clj-time is throwing?

[2018-01-22 15:37] adamtornhill commented on #53
The discussion was moved to the above referenced issue in another repo.

[2018-01-22 15:37] #53 closed

[2018-03-28 12:52] wogscpar opened #55 "Logical Coupling - Mining"
Hello,

I've been using the code-maat tool to mine features from a git repository, especially the logic coupling. What I'm facing is the scenario that I want to mine the coupling changes over a time. So what I'm wondering is if it's possible to get all couplings by just running on the latest revision? Or do I need to do as I'm doing now and run the tool on each revision and then track the coupling

[2018-03-28 17:57] adamtornhill commented on #55
Hi @wogscpar

You could generate several Git logs using the `--before` and `--after` options to specify a date interval of interest. Then you run code-maat on each of those log files, which should allow you to detect trends.

Does this answer your question?

[2018-04-04 07:41] wogscpar commented on #55
Hello @adamtornhill,

Almost. That's how I'm doing it today. The question is more if code-maat is executed on the latest revision, would it be possible for it to output the same result as if it would be executed on each individual log?

[2018-04-05 12:26] rogierschouten opened #56 "Please publish docker image"
Hi,

On Docker Hub there is a code-maat image: https://hub.docker.com/r/stevenalexander/code-maat-python/

However that also contains Python and cloc.  I could add my own bare image, but maybe it would be handier to do so under an adamtornhill account?

[2018-04-06 07:02] adamtornhill commented on #55
Yes, it would be possible to implement such trends, but the support isn't there today. For example, code-maat could be expanded to take `--before`and `--after` arguments too, and use them to do the filtering of a full log based on the latest revision. That would save the roundtrip to `git` for each log.

[2018-04-06 07:05] adamtornhill commented on #56
Hi @rogierschouten

Yes, that's a good idea. I would like to do it, but I won't have time in the near future.

[2018-06-19 15:59] jbiswas opened #57 "messages: unable to run code maat with -a messages"
Do you have an example of how to analyze commit messages?

I tried ```-a messages -e fix``` but I get no results.

[2018-06-19 21:14] #55 closed

[2018-06-20 09:50] jbiswas commented on #57
Thanks Adam. Actually what I was looking for was how often a file is involved in bug fixes. I ended up using a long-ish bash command to get that result.

[2018-09-13 11:28] Meffi42 commented on #23
My heap space runs out of memory for wikimedia/mediawiki

The evo-log file, produced as described in the book, has 23MB.

Setting up the JVM heap size in the .bat-file seems to fix this problem.

[2018-09-13 11:30] Meffi42 opened #58 "Parsing error"
I am analyzing wikimedia/mediawiki with code-maat.

I seem to be getting parsing errors for the commit messages:

Invalid argument:  input: [ebbf38d2ab] Antoine Musso 2010-10-29 Follow up r75682 : fix private function naming. Fix cruise control build 2010-10-29T22:18:27
3       3       maintenance/tests/phpunit/includes/UserIsValidEmailAddrTest.php
, reason: Parse error at line 1, column 122:
[ebb

[2018-09-17 13:01] adamtornhill commented on #58
@Meffi42 , thanks for reporting this. I suspect that it's due to the dates included in the commit messages.

Code Maat supports a second log format that is more robust: `git log --all --numstat --date=short --pretty=format:'--%h--%ad--%aN' --no-renames`

Logs on this format have to be parsed using the `-c git2` parse option in Code Maat.

[2019-01-24 17:22] velanbabu opened #60 "Exclusion of folder inside Repository"
how to exclude certain folders inside repository during generation of the log?

[2019-01-24 19:46] adamtornhill commented on #60
In case of Git, it uses pathspecs to limit paths on the command line. To give you an example, let's say I want to exclude everything in my `vendor/` folder. I would then use the following pattern:

`git log --numstat -- . ":(exclude)vendor/*"`

Note that you would need to add the other options required by Code Maat too. Other version-control systems might have a similar concept, but I'm less famil

[2019-01-26 03:34] velanbabu commented on #60
Great. Its work. This might be useful for others. If we want to exclude more than a folder below syntax
git log --numstat -- . ":(exclude)vendor/*" ":(exclude)test/*" > output.log

[2019-01-29 20:32] #60 closed

[2019-01-29 23:40] marcelloromani opened #61 "lein uberjar fails to download dependencies: Socker closed"
Downloaded and unpacked `code-maat` release 1.0.1

Installed `lein` with:
[code]
Lein version that got installed:
[code]

Launched
[code]
Result:
[code]

OS version:
MacOS Hight Sierra 10.13.6 (17G5019)

[2019-01-29 23:41] marcelloromani commented on #61
I've tried using the latest code from `master`: same error.

[2019-01-29 23:47] marcelloromani commented on #61
After repeatedly running `lein deps`, all dependencies were progressively downloaded.

I was eventually able to build the package:
[code]

It must have been a transient network issue on my side, apologies for the noise.

[2019-01-29 23:47] #61 closed

[2019-04-13 14:33] JeroenKnoops commented on #56
I've created this for our work.

Docker hub: https://cloud.docker.com/repository/docker/philipssoftware/code-maat
Source: https://github.com/philips-software/code-maat

Master is tagged as:
`philipssoftware/code-maat`
`philipssoftware/code-maat:1`
`philipssoftware/code-maat:1.0`
`philipssoftware/code-maat:1.0.2`
`philipssoftware/code-maat:1.0.2-alpine`

[2019-05-14 07:13] duncanmccreadie opened #62 "File formats under Windows"
I am running the Docker Container version of Code Maat and can see it is trying to work but it seems unable to cope with the Git log I have generated using the command you suggest in the documentation. I have tried saving it in various different encodings to see if that fixed the issue but it doesn't. Any other ideas on what might be going wrong?

I am running Docker for Windows for clarity.

[cod

[2019-05-15 07:47] adamtornhill commented on #62
Have you tried to specify the encoding using the `-input-encoding` option when running Code Maat?

[2019-05-15 17:58] duncanmccreadie commented on #62
Worked it out in the end by running the container with a extra-point of
bash. It became apparent that it couldn't see the mounted drive due to the
encryption program running on my data drive. Once that was obvious , a
change of directory and all is well. Perhaps the error message could be
better in this regard?

Anyway thanks for replying. I am working through your excellent book now.

On Wed, 15

[2019-06-21 05:42] Kronnork commented on #25
@adamtornhill  Was this figured out? Since the issue still persists.

[2019-06-23 13:32] adamtornhill commented on #25
@Kronnork The issue wasn't related to code maat, but to the environment. To get more specific help, you should open a new issue and share information on:
1. The versions of JDK and Git that you use,
2. A small sample log that fails to parse, and
3. Information on which shell you use.

Thanks!

[2019-08-09 16:23] cowley05 opened #63 "Invalid argument: git2: Failed to parse the given file - is it a valid logfile? error when running with docker"
Im getting the following error when running this with the docker container:

`Invalid argument:  git2: Failed to parse the given file - is it a valid logfile?`

I built the container with the command below from the latest code on 9th august:

`docker build -t code-maat-app .`

I then ran

`git log --all --numstat --date=short --pretty=format:'--%h--%ad--%aN' --no-renames --after=2018-10-31 > logfi

[2019-10-22 07:34] polku commented on #63
I had the same problem, it was actually not related to code-maat but a problem with the docker volume. The error message was misleading, it's not that the file was invalid but that it was simply not found inside the container.
Attach a bash to your container and check if the file is there, if not, using a named volume solved the problem for me.

[2019-12-19 14:56] varunachar opened #65 "Unable to justify results"
Hi,

First of all, thanks for creating this tool and putting in the effort and research to help bring some insight into analysing technical debts.

I'm trying to use code-maat to understand our codebases and i'm seeing very weird results which making me question whether I should use the results of this tool at all.

I ran this tool on a large codebase within my company and the results seem conflic

[2019-12-19 20:53] adamtornhill commented on #65
@varunachar Thanks for your kind words!

code-maat operates on whatever Git logs you provide. The `git log` command I have in the README indeed mines commits from all branches. To run against the current branch you just remove the `--all` option. That's one likely explanation for the deviation.

Another possible explanation is that the files themselves haven't been changed, but their containing fo

[2019-12-29 19:27] adamtornhill commented on #65
@varunachar I just wanted to check if I managed to clarify how it works, and that you managed to track down the potential bias?

[2019-12-30 01:58] varunachar commented on #65
I tried it out without the --all flag and that gave better results.

________________________________
From: Adam Tornhill <notifications@github.com>
Sent: Monday, December 30, 2019 12:57:10 AM
To: adamtornhill/code-maat <code-maat@noreply.github.com>
Cc: Varun Achar <achar_varun@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [adamtornhill/code-maat] Unable to justify results (#65)

[2019-12-30 07:30] #65 closed

[2020-06-20 18:12] psrijay opened #67 "Code maat extensions"
Hi adamtornhill
Wanted to know whether all scenarios of code-forensics are covered here like sloc,churn etc if not what are to be covered and when are you going to extend it.How many languages it supports currently
and how to extend it for other languages.Wanted to know how to extend in terms of code.

[2020-06-22 10:17] adamtornhill commented on #67
Hi @psrijay

Code Maat is the engine for code-forensics, so all evolutionary metrics come from here. Code Maat doesn't include a sloc calculation itself, but relies on external tooling like `cloc`. Hence, all analyses in Code Maat are language neutral.

I'm still maintaining Code Maat since it has quite a wide user base. That said, the tool is stable and I don't actively expand the analysis set.
I

[2020-06-23 13:15] psrijay opened #68 "Issues while running code maat"
Hey adam ,
I not able to generate log file with this command
git log --all --numstat --date=short --pretty=format:'--%h--%ad--%aN' --no-renames --after=2016-10-01
I am running it in a cloned project for which numstat is getting displayed but log isn't getting generated
can you just guide me how to run code-maat for a git project
I have lein install already using package manager on ubuntu 18.04
Do

[2020-06-24 09:42] adamtornhill commented on #68
Hi @psrijay

The `git log` command isn't related to Code Maat. The `git log` command itself doesn't generate a file, so to persist it you need to pipe it (e.g. `> mylog.txt`) to a file.

[2020-07-02 02:30] kpsamuel opened #69 "Extension and Support"
Hi @adamtornhill ,

I loved this tool and learning to understand more to use code-maat in my work environment. I want to know still what new features are you going to add up and how support will be delivered if i looking it to deploy it in my working place.

[2020-07-05 06:01] kpsamuel commented on #69
any updates, please confirm.

[2020-07-05 16:29] #67 closed

[2020-07-05 16:41] adamtornhill commented on #69
Hi @kpsamuel

Thanks, I'm happy to hear that you love the tool.

I open sourced Code Maat as a way of making the techniques from Your Code as a Crime Scene accessible to the community. I'm still maintaining Code Maat since it has quite a wide user base, but I don't actively expand the analysis set. Since it's a free project, I do the maintenance when I have time for it and there isn't any formal s

[2020-07-05 16:42] #68 closed

[2020-07-06 18:04] DylanSp commented on #63
Had the same issue, @polku put me on the right track.

[2020-07-28 13:26] kpsamuel commented on #69
can we setup a call, i want to understand the logic of working in code maat and code scene. i used code scene but not understanding the logic of calculation.

[2020-08-05 06:12] aroc725 opened #70 "Getting "NoClassDefFound" error"
Using: Java 8, Leiningen 2.9.2

When I try to run the following command

java -jar C:\\code-maat\\target\\code-maat-1.1-SNAPSHOT.jar -l logfile.log -c git

I get the following error message:

Exception in thread "main" java.lang.NoClassDefFoundError: clojure/lang/Var
        at code_maat.cmd_line.<clinit>(Unknown Source)
Caused by: java.lang.ClassNotFoundException: clojure.lang.Var
        at java

[2020-08-05 06:25] prajeeshkozhisseri commented on #69
we are looking at to add this to our project on codescene. We like to understand on some components like  Architectural   Analyses, CodeHealth   - Biomarkers so that we can really looking at adding to  our projects

[2020-08-05 10:44] adamtornhill commented on #69
@kpsamuel and @prajeeshkozhisseri  Sure, the CodeScene team can help you on this (code-maat is not the right forum, unfortunately). May I ask you to email support@empear.com with your CodeScene specific requests and questions?

I also have a blog post that covers the key technical metrics in CodeScene, including code health: [Measure the Health of your Codebase](https://www.linkedin.com/pulse/meas

[2020-08-14 23:54] aroc725 commented on #70
I still haven't figured out why the commands I originally tried don't work, but running the 'lein' script does work for me. So I'm going to close out this issue.

[2020-08-14 23:54] #70 closed

[2020-12-01 16:03] jonathanmv commented on #63
Same here, the log file was not being found. Would it make sense to close this issue then?

In my case I created a `2020.log` file, but when executing code-maat I pointed to `/data/logfile.log` (because that was the given example). I just changed it to `/data/2020.log` and I didn't run into that problem

[2020-12-01 19:54] hydrosquall opened #71 "[question] Example GROUP file for the --group command line option"
Hi Adam,

Thanks for making this powerful tool free and open source!

I was wondering if you could provide an example GROUP file for usage with the `-g` CLI option for grouping related entities. I have some files  I found the test file that implements this functionality which might offer some clues, but I'm not familiar enough with Clojure to determine how to write my input text files. I have some

[2020-12-01 20:38] hydrosquall commented on #71
I read through the grouper class source, and using these lines:

https://github.com/adamtornhill/code-maat/blob/ebd2b757ae31510b5cf52d0e11fafa82a7e062d1/src/code_maat/app/grouper.clj#L17-L20

figured out how to write a custom grouping file for my project. It was along the lines of

[code]

[2020-12-02 09:13] adamtornhill commented on #71
Thanks for your kind words! I'm happy to hear that.

There are some sample text files in the `end_to_end` test folder, for example [this one](https://github.com/adamtornhill/code-maat/blob/ebd2b757ae31510b5cf52d0e11fafa82a7e062d1/test/code_maat/end_to_end/regex-and-text-layers-definition.txt)

Here's an excerpt:

[code]

The format is `regex_pattern => logical_group_name`. Code Maat takes everythi

[2020-12-02 09:30] #71 closed

[2020-12-02 09:32] #69 closed

[2020-12-02 09:32] adamtornhill commented on #63
Yes, let's close this issue since it's not related to code maat itself. Glad that you sorted it out!

[2020-12-02 09:32] #63 closed

[2020-12-29 16:34] adamtornhill commented on #57
Solved and addressed in issue #74

[2020-12-29 16:34] #57 closed

[2021-04-21 11:00] rainyu119 opened #75 "mining logical coupling not work for my git logfile"
hi there, i run code maat coupling analysis with command '-a coupling' and get empty report
i wander if there any limitation for the logfile?
i had commited two files 4 times together, the expect result should be these two files 100% coupled, but the report is empty
looking forward your reply

[2021-04-21 15:08] adamtornhill commented on #75
Hi @rainyu119

code maat has thresholds that help you avoid false positives in larger systems. In case of change coupling, the relevant thresholds are `--min-revs` and `--min-shared-revs`. They are documented here: https://github.com/adamtornhill/code-maat#running-code-maat

Let me know if this helps.

[2021-04-21 17:12] rainyu119 commented on #75
thanks for the quick reply, i tried this two commands, it works when i set them to a low level
and if i could know what's the default value for these two thresholds?

[2021-10-19 19:49] joannegs opened #76 "Parse error at line 1, column 1"
Hey,

trying to use Code Maat I've been facing the following errors, even after using the formats recommended on the documentation and it's correspondenting -c flags.

![image](https://user-images.githubusercontent.com/36765523/137978840-1325aed3-34cf-47d3-bc51-a4723af27ca2.png)

![image](https://user-images.githubusercontent.com/36765523/137979532-8a5e5690-af73-4a7c-aad1-bfb7b4de5cd1.png)

I trie

[2021-10-20 12:26] adamtornhill commented on #76
Hi @joannegs

Could you share the full command you are using as well as a small snippet of the Git log? I could then take a look at it.

[2021-10-22 03:31] joannegs commented on #76
Sure,

I'm using the commands:

And that's the log file I'm passing to the tool:

![log_snippet](https://user-images.githubusercontent.com/36765523/138388984-4a9d1706-8b23-465c-a9d1-d1aa57179c15.png)

[2021-10-25 05:59] amaslenn opened #77 "How is files deletion detected?"
According to the recommended `git log` command, `code-maat` consumes only number of changes and ignores if a file was deleted. It leads to deleted files appear in "long-no-change" list.

@adamtornhill could you please elaborate on how it is analyzed?

[2021-12-06 13:08] vishalkumar041298 opened #78 "SVN churn is not coming."
I am trying to get the churn in identity for svn as we getting in git but there is no churn data (loc_added,loc_deleted) in the identity. Please enable the same for svn.

[2021-12-06 16:30] adamtornhill commented on #77
@amaslenn Yes, that's correct: deleted files are included in the version-control log too, meaning they will get analysed.
I used to resolve this by filtering the code maat output based on `git ls-files`.

One limitation in code maat is that it doesn't track renamed and moved content. As such, renamed files look like a deletion + addition of a new file. We implemented full rename tracking in CodeSc

[2021-12-07 19:33] mdclement commented on #76
I'm seeing the same thing using the jar

![image](https://user-images.githubusercontent.com/1100612/145094084-bd21da51-dbef-4532-8c02-c024286fc614.png)

`git log --all --numstat --date=short --pretty=format:'--%h--%ad--%aN' --no-renames --after=2020-06-01 > logfile.log`

`java -jar code-maat-1.0.2-standalone.jar -l logfile.log -c git2`

The beginning of my gitlog looks like:

`--f2e52a42e--2021-12

[2021-12-14 01:19] ErnestFistozz opened #79 "Does it allow 'from' date and/or 'to' date to specified? i.e to retrieve data between a specific timeline"
Hi,

Great tool. I have a specific use case i would like to know if the tool caters for.
Is it possible to specify 'from' and 'to' dates, so say I want to gather the stats from X day to Y day.. eg from 2020-01-01 to 2021-12-01.. Another tool i came across used the 'before' , is there something similar with this tool?

how to would i collect such information.

[2021-12-16 06:21] kpsamuel opened #80 "log4j vulnerability validation"
Hi team,
as we all know log4j vulnerability came recently and I am using codemaat soo need to know if codemaat is using log4j internally or not.

[2021-12-20 16:09] adamtornhill commented on #80
Hi @kpsamuel

No, code maat doesn't use log4j.

[2021-12-20 16:09] #80 closed

[2021-12-20 16:11] adamtornhill commented on #79
Hi @ErnestFistozz

Yes, you can control those parameters when you generate the Git log that code maat uses as input. Just specify the `--after` and `--before` flags for filtering commits by date when generating the log file.

[2021-12-20 16:11] #79 closed

[2021-12-20 16:11] #78 closed

[2021-12-20 16:23] adamtornhill commented on #76
@mdclement I took a look, and your example parses without problems. I ran it via the unit tests.

I suspect that this could be a text encoding issue. Could you please look at the encoding of your Git log file?

[2021-12-31 12:42] #77 closed

[2022-01-26 04:38] wonderbird opened #82 "Docker image fails to build on Apple Silicon (M1-ARM64 architecture)"
When you run

[code]

on a Mac with Apple Silicon chip, then docker fails with the following error message

[code]

I suspect that the base image `clojure:alpine` is not available for the `linux/arm64` architecture at the time of writing.

I wouldn't change anything in code maat for now. Instead, let's use this thread to make users aware of the issue and present workarounds for the time being.

[2022-01-26 04:39] wonderbird commented on #82
As a very slow workaround, one could run

[code]

This would use the Rosetta 2 emulation.

On my machine the build process took extremely long (I aborted after about 12 minutes).

[2022-01-26 04:52] wonderbird commented on #82
I prefer the following workaround, which trades off container size for time behaviour:

1. Change the `FROM` line in `Dockerfile` such, that the `latest` clojure image is used instead of the `alpine` version:
[code]

1. Build and use the docker container as usual
[code]

[2022-02-01 22:38] ajdelcimmuto commented on #76
I had a similar issue, but then ran the same commands  in a git bahs shell and my issue was solved.

[2022-02-02 12:11] adamtornhill commented on #76
@ajdelcimmuto Thanks for pointing that out! It's the preferred solution. I should have known: I actually included the following recommendation in Your Code as a Crime Scene:

![image](https://user-images.githubusercontent.com/5179769/152151145-94cfeeda-d38f-4d9b-b6bd-0d90d0c4ca55.png)

[2022-02-02 12:11] #76 closed

[2022-02-02 12:12] #62 closed

[2022-02-09 18:12] SergiiVolodkoWorking commented on #58
Hi,
I'm trying to run the tool as in Readme:
![image](https://user-images.githubusercontent.com/54677730/153263230-7d41152e-504b-4e07-b25a-7e149ce06594.png)

But receive this error:
![image](https://user-images.githubusercontent.com/54677730/153253070-65f7f275-6f7a-4d9a-a143-f50d1b4753c8.png)

Tried various combinations, but got the same error
- legacy git format for the logs and `-c git` for run

[2022-06-15 11:13] jinhongeasypark commented on #82
I had exactly the same problem, and also reached the same workaround as you @wonderbird

Perhaps a fix for this will be to just make a note in the README to update from `FROM clojure:alpine` to `FROM clojure:latest` ?

[2022-10-16 08:45] StefanSmith opened #84 "Question: any plans to support --temporal-period with values other than "1"?"
Are there any plans to support `--temporal-period` with values other than `1`? I'm analysing temporal coupling across repositories and suspect the temporally-coupled commits may be distributed across multiple days.

Thank you for all your great work in this space!

[2022-10-18 19:07] adamtornhill commented on #84
That's definitely a possible extension. I can take a look at it during next week. Ideally, we'd add a command line argument which lets you modify the temporal period.

[2022-10-24 15:25] adamtornhill commented on #84
@StefanSmith I took a look at this during the weekend, and there was indeed a `TODO` in the code on this feature. Took the time to implement an arbitrary `--temporal-period` so that you can calculate coupling over multiple days (rolling).

You find this improvement in the latest release: https://github.com/adamtornhill/code-maat/releases/tag/v1.0.3

Please let me know how this works out for you.

[2022-10-25 07:56] StefanSmith commented on #84
Thank you @adamtornhill ! I'm away this week but will take a look next week. You may want to update the details in the README here: https://github.com/adamtornhill/code-maat#temporal-periods

[2022-11-15 23:21] StefanSmith commented on #84
Finally got round to verifying the change. Thanks @adamtornhill, it works as expected. I've integrated it into my pet project at https://github.com/StefanSmith/your-code-as-a-crime-scene-tools. In reality, I'm finding that multi-day coupling analysis pulls in too many false positives due to the high rate of (unrelated) commits occuring across multiple repositories. I will investigate using commit

[2022-11-15 23:30] StefanSmith commented on #84
As a follow up to this, does `code-maat` support coupling analysis using commit message regex to group commits (e.g by story numbers)?